
<nav id="nav">
  <a href="#home" class="icon solid fa-home"><span>Inicio</span></a>
  <a href="#work" class="icon solid fa-upload"><span>Upar</span></a>
  <a href="https://github.com/gabrielmussolini984" class="icon brands fa-github"><span>GitHub</span></a>
</nav>